{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">City</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <a href="/cityadd/">
                  <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                  </a>
                  <thead>
                        <tr style="color:black ;">
                                <th>City Id</th>
                                <th>City Name</th>
                                <th>State Name</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in City %}
                        <tr style="color:black ;">
                                <td>{{i.city_id}}</td>
                                <td>{{i.city_name}}</td>
                                <td>{{i.state}}</td>
                                <td><a href="/citydelete/{{ i.city_id}}/"><button type="button" class="btn bg-gradient-primary text-white" onclick="return confirm('Do you want to delete?');">Delete</button></a>
                                    <a href="/cityedit/{{ i.city_id}}/"><button type="button" class="btn bg-gradient-primary text-white">Edit</button></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}


<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CITY</title>
</head>
<body>
<h1><center>CITY</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>CITY ID</th>
            <th>CITY NAME</th>
            <th>STATE ID</th>
            <th>OPTION</th>
        </tr>
    </thead>
    <tbody>
    {% for i in City %}
        <tr>
            <td>{{i.city_id}}</td>
            <td>{{i.city_name}}</td>
            <td>{{i.state_id}}</td>
            <td><a href="/citydelete/{{ i.city_id}}/">Delete</a>||<a href="/cityedit/{{ i.city_id}}/">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>