{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Finish </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/finishupdate/{{finish.finish_id}}/">
          {% csrf_token %}
          <div class="form-group">
            <label for="Finish_name">Finish Name</label>
            <input type="text" class="form-control" id="finish_name" placeholder="Enter Finish Name" name="txtfname"
              value="{{finish.finish_name}}" required><br>
            <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>FINISH EDIT</title>
</head>
<body>
<h1><center>FINISH EDIT</center></h1>
<a href="/home/">BACK</a><br>
    <form method="POST" action="/finishupdate/{{finish.finish_id}}/">
        {% csrf_token %}
        Finish name:<input type="text" name="txtfname" value="{{finish.finish_name}}" required><br>
        <input type="submit" value="Update">
    </form>
    
</body>
</html>