{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Form </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/formupdate/{{form.form_id}}/">
          {% csrf_token %}
          <div class="form-group">
            <label for="form_name">Form Name</label>
            <input type="text" class="form-control" id="form_name" placeholder="Enter Form Name" name="txtfname"
              value="{{form.form_name}}" required>
            <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
            <button class="btn btn-light">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>FORM EDIT</title>
</head>
<body>
<h1><center>FORM EDIT</center></h1>
<a href="/home/">BACK</a><br>
    <form method="POST" action="/formupdate/{{form.form_id}}/">
        {% csrf_token %}
        Form name:<input type="text" name="txtfname" value="{{form.form_name}}" required><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>