{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">JobWorker</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <a href="/jobworkeradd/">
                  <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                  </a>
                  <thead>
                        <tr style="color:black ;">
                                <th>Jobworker Id</th>
                                <th>Worker Name</th>
                                <th>Address</th>
                                <th>Email Id</th>
                                <th>Password</th>
                                <th>Contact number</th>
                                <th>Work Id</th>
                                <th>Option</th>
                            </tr>
                          </thead>
                        <tbody>
                        {% for i in JobWorker %}
                        <tr style="color:black ;">
                            <td>{{ i.job_worker_id}}</td>
                            <td>{{i.worker_name}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.email_id}}</td>
                            <td>{{i.password}}</td>
                            <td>{{i.contact_no}}</td>
                            <td>{{i.work}}</td>
                            <td><a href="/jobworkerdelete/{{i.job_worker_id}}/"><button type="button" class="btn bg-gradient-primary text-white" onclick="return confirm('Do you want to delete?');">Delete</button></a>
                                    <a href="/jobworkeredit/{{i.job_worker_id}}/"><button type="button" class="btn bg-gradient-primary text-white">Edit</button></a></td>
                        </tr>S
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         
{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOB WORKER</title>
</head>
<body>
<h1><center>JOB WORKER</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>JOBWORKER ID</th>
            <th>WORKER NAME</th>
            <th>ADDRESS</th>
            <th>EMAIL ID</th>
            <th>PASSWORD</th>
            <th>CONTACT NUMBER</th>
            <th>WORK ID</th>
            <th>OPTION</th>
        </tr>
    </thead>
    <tbody>
    {% for i in JobWorker %}
        <tr>
            <td>{{ i.job_worker_id}}</td>
            <td>{{i.worker_name}}</td>
            <td>{{i.address}}</td>
            <td>{{i.email_id}}</td>
            <td>{{i.password}}</td>
            <td>{{i.contact_no}}</td>
            <td>{{i.work_id}}</td>
            <td><a href="/jobworkerdelete/{{ i.job_worker_id}}/">Delete</a>||<a href="/jobworkeredit/{{ i.job_worker_id}}/">Edit</a><td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>