{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Machinery </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/machineryupdate/{{machinery.m_id}}/" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="mname">Machinery Name</label>
            <input type="text" class="form-control" id="mname" placeholder="Enter Machinery Name" name="txtmname"
              value="{{machinery.m_name}}" required>
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Enter Description" name="txtdecri"
              value="{{machinery.description}}" required>
          </div>
          <div class="form-group">
            <label for="Rent_charge">Rent charge</label>
            <input type="number" class="form-control" id="Rent_charge" placeholder="Enter Rent Charge" name="txtrcharge"
              value="{{machinery.rent_charge}}" required>
          </div>
          <div class="form-group">
            <label for="Machine_Work">Machine Work</label>
            <input type="text" class="form-control" id="Machine_Work" placeholder="Enter Machine Work" name="txtmwrok"
              value="{{machinery.machinery_work}}" required>
          </div>
          <div class="form-group">
            {% if machinery.image %}
            <td><img src="{{machinery.image}}" alt="image hero" height="140" width="140"></td>
            {% endif %}
            <label for="img_url">Add image</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="img_url" name="image">
              <label class="custom-file-label" for="img_url">Add image...</label>
            </div>
          </div>
          <button type="submit" class="btn  bg-gradient-primary text-white">Add</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MACHINERY EDIT</title>
</head>
<body>
<h1><center>MACHINERY EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/machineryupdate/{{machinery.m_id}}/">
    {% csrf_token %}
    Machinery name:<input type="text" name="txtmname" value="{{machinery.m_name}}" required><br>
    Description:<input type="text" name="txtdes" value="{{machinery.description}}" required><br>
    Rent charge:<input type="text" name="txtrcharge" value="{{machinery.rent_charge}}" required><br>
    Machinery wok:<input type="text" name="txtmwork" value="{{machinery.machinery_work}}" required><br>
    Image:<input type="text" name="txtimage" value="{{machinery.image}}" required><br>
            <input type="submit" value="Edit">
</form>
</body>
</html>