{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Offer </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/offeradd/">
          {% csrf_token %}
          <div class="form-group">
            <label for="mname">Offer Code</label>
            <input type="text" class="form-control" id="mname" placeholder="Enter offer code" name="txtocode" required>
          </div>
          <div class="form-group">
            <label for="Description">Min amount</label>
            <input type="number" class="form-control" id="Description" placeholder="Enter min amount" name="txtmin">
          </div>
          <div class="form-group">
            <label for="Rent_charge">Discount</label>
            <input type="text" class="form-control" id="Rent_charge" placeholder="Enter discount" name="txtdis"
              required>
          </div>
          <div class="form-group">
            <label for="Machine_Work">Max Amount</label>
            <input type="number" class="form-control" id="Machine_Work" placeholder="Enter max amount" name="txtmax">
          </div>
          <div class="form-group">
            <label for="sdate">Start Date</label>
            <input type="date" class="form-control" id="sdate" placeholder="Enter Start date" name="txtstrtdate">
          </div>
          <div class="form-group">
            <label for="edate">End Date</label>
            <input type="date" class="form-control" id="edate" placeholder="Enter End date" name="txtenddate">
          </div>
          <div class="form-group">
            <label for="idate">Isactive Date</label>
            <input type="date" class="form-control" id="idate" placeholder="Enter isactive" name="txtisact">
          </div>
          <div class="form-group">
            <label for="idate">No Of Times</label>
            <input type="number" class="form-control" id="idate" placeholder="Enter no of times" name="txtisact">
          </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Add</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFFER ADD</title>
</head>
<body>
<h1><center>OFFER ADD</center></h1>
<form method="POST" action="/offeradd/">
    {% csrf_token %}
    OFFER CODE:<input type="text" name="txtocode" ><br>
    MIN AMOUNT:<input type="number" name="txtmin"><br>
    DISCOUNT:<input type="text" name="txtdis" ><br>
    MAX AMOUNT:<input type="number" name="txtmax"><br>
    START DATE:<input type="date" name="txtstrtdate" ><br>
    END DATE:<input type="date" name="txtenddate"><br>
    ISACTIVE:<input type="date" name="txtisact" ><br>
    NO OF TIMES:<input type="number" name="txtnof"><br>
            <input type="submit" value="Add">
</form>
</body>
</html>