{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Payment</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                    <a href="/paymentadd/">
                        <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                    </a>
                    <thead>
                        <tr style="color:black ;">
                            <th>Payment Id</th>
                            <th>Invoice</th>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Payment %}
                        <tr style="color:black ;">
                            <td>{{ i.payment_id}}</td>
                            <td>{{i.invoice_id}}</td>
                            <td>{{i.p_date}}</td>
                            <td>{{i.amount}}</td>
                            <td><a href="/paymentdelete/{{i.payment_id}}/"><button type="button"
                                        class="btn  bg-gradient-primary text-white">Delete</button></a>
                                <a href="/paymentedit/{{i.payment_id}}/"><button type="button"
                                        class="btn  bg-gradient-primary text-white">Edit</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAYMENT</title>
</head>
<body>
<h1><center>PAYMENT</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>PAYMENT ID</th>
            <th>INVOICE</th>
            <th>PAYMENT DATE</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
    {% for i in Payment %}
        <tr>
            <td>{{ i.payment_id}}</td>
            <td>{{i.invoice_id}}</td>
            <td>{{i.p_date}}</td>
            <td>{{i.amount}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>