{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTables Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary"> Product Order </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form class="table-responsive" method="post" action="/productorderadd/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Customer">Customer Name</label>
                        <select class="form-control form-control-lg" id="Customer" name="customer_id">
                            {% for i in customer %}
                            <option value="{{i.customer_id}}">{{i.customer_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Date">Order Date</label>
                        <input type="date" class="form-control" id="Date" placeholder="Enter Order Date" name="txtdate"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="Offer">Offer</label>
                        <select class="form-control form-control-lg" id="Offer" name="offer_id">
                            <option value="0">--Select--</option>
                            {% for i in offer %}
                            <option value="{{i.offer_id}}">{{i.offer_code}}</option>
                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label for="Amount">Total Amount</label>
                            <input type="number" class="form-control" id="Amount" placeholder="Enter Total charge"
                                name="txttotal" required>
                        </div>
                        <div class="form-group">
                            <label for="sc">Shipping Charge</label>
                            <input type="number" class="form-control" id="sc" placeholder="Enter Shipping charge"
                                name="txtsheeping" required>
                        </div>
                        <div class="form-group">
                            <label for="tu">Track Url</label>
                            <input type="text" class="form-control" id="tu" placeholder="Enter Track Url" value="0"
                                name="txturl">
                        </div>
                        <div class="form-group">
                            <label for="tn">Track No</label>
                            <input type="text" class="form-control" id="tn" placeholder="Enter Track No" value="0"
                                name="txtno">
                        </div><br>
                        <button type="submit" class="btn  bg-gradient-primary text-white">Add</button>
                        <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}