{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTables Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Rent Order</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <a href="/rentorderadd/">
                  <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                  </a>
                  <thead>
                        <tr style="color:black ;">
                                <th>Rent Order Id</th>
                                <th>Customer Id</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Option </th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for i in RentOrder %}
                          <tr style="color:black ;">
                                <td>{{ i.rent_o_id}}</td>
                                <td>{{ i.customer}}</td>
                                <td>{{i.order_date}}</td>
                                <td>{{i.total}}</td>
                                <td><a href="/rentorderdelete/{{ i.rent_o_id}}/"><button type="button"
                                    class="btn bg-gradient-primary text-white" onclick="return confirm('Do you want to delete?');">Delete</button></a>
                            <a href="/rentorderedit/{{ i.rent_o_id}}/"><button type="button"
                                    class="btn bg-gradient-primary text-white">Edit</button></a></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          
{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RENT ORDER</title>
</head>
<body>
<h1><center>RENT ORDER</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>RENT ORDER ID</th>
            <th>CUSTOMER ID</th>
            <th>ORDER DATE</th>
            <th>TOTAL AMOUNT</th>
        </tr>
    </thead>
    <tbody>
    {% for i in RentOrder %}
        <tr>
            <td>{{ i.rent_o_id}}</td>
            <td>{{i.customer_id}}</td>
            <td>{{i.order_date}}</td>
            <td>{{i.total}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>