{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Scheduling</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                    <a href="/schedulingadd/">
                        <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                    </a>
                    <thead>
                        <tr style="color:black ;">
                            <th>Scheduling Id</th>
                            <th>Scheduling Date</th>
                            <th>Jobworker Id</th>
                            <th>Service Order Id</th>
                            <th>Instructions</th>
                            <th>Status</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Scheduling %}
                        <tr style="color:black ;">
                            <td>{{ i.scheduling_id}}</td>
                            <td>{{i.scheduling_date}}</td>
                            <td>{{i.job_worker_id}}</td>
                            <td>{{i.service_o_id}}</td>
                            <td>{{i.instruction}}</td>
                            <td>{{i.status}}</td>
                            <td><a href="/schedulingdelete/{{ i.scheduling_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Delete</button></a>
                                <a href="/schedulingedit/{{ i.scheduling_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Edit</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCHEDULING</title>
</head>
<body>
<h1><center>SCHEDULING</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>SCHEDULING ID</th>
            <th>SCHEDULING DATE</th>
            <th>JOBWORKER ID</th>
            <th>SERVICE ORDER ID</th>
            <th>INSTRUCTIONS</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
    {% for i in Scheduling %}
        <tr>
            <td>{{ i.scheduling_id}}</td>
            <td>{{i.scheduling_date}}</td>
            <td>{{i.job_worker_id}}</td>
            <td>{{i.service_o_id}}</td>
            <td>{{i.instruction}}</td>
            <td>{{i.status}}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>