{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Service Sub Category</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                    <a href="/servicesubcategoryadd/">
                        <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                    </a>
                    <thead>
                        <tr style="color:black ;">
                            <th>Service Sub Category Id</th>
                            <th>Service Category Id</th>
                            <th>Service Sub Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in ServiceSubCategory %}
                        <tr>
                            <td>{{ i.s_sub_id}}</td>
                            <td>{{i.s_category_id}}</td>
                            <td>{{i.s_sub_name}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.image}}</td>
                            <td><a href="/servicesubcategorydelete/{{ i.s_sub_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Delete</button></a>
                                <a href="/servicesubcategoryedit/{{ i.s_sub_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Edit</button></a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE SUB CATEGORY</title>
</head>
<body>
<h1><center>SERVICE SUB CATEGORY</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>SERVICE SUB CATEGORY ID</th>
            <th>SERVICE  CATEGORY ID</th>
            <th>SERVICE SUB NAME</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
            <th>OPTION</th>
        </tr>
    </thead>
    <tbody>
    {% for i in ServiceSubCategory %}
        <tr>
            <td>{{ i.s_sub_id}}</td>
            <td>{{i.s_category_id}}</td>
            <td>{{i.s_sub_name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.image}}</td>
            <td><a href="/servicesubcategorydelete/{{i.s_sub_id}}/">Delete</a>||<a href="/servicesubcategoryedit/{{ i.s_sub_id}}/">Edit</a><td></td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</center>

</body>
</html>