{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Service Category </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/servicecategoryupdate/{{servicecategory.s_category_id}}/">
          {% csrf_token %}
          <div class="form-group">
            <label for="sname">Service Category Name</label>
            <input type="text" class="form-control" id="sname" placeholder="Enter Service Category Name "
              name="txtscname" value="{{servicecategory.service_name}}" required>
          </div>
          <div class="form-group">
            <label for="dname">Description</label>
            <input type="text" class="form-control" id="dname" placeholder="Enter Description " name="txtdescri"
              value="{{servicecategory.description}}" required>
          </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
          <button class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE CATEGORY EDIT</title>
</head>
<body>
<h1><center>SERVICE CATEGORY EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/servicecategoryupdate/{{servicecategory.s_category_id}}/">
    {% csrf_token %}
    Service Category name:<input type="text" name="txtscname" value="{{servicecategory.service_name}}"required><br>
    Service description:<input type="text" name="txtdescri" value="{{servicecategory.description}}"required><br>
            <input type="submit" value="Update">
</form>
</body>
</html>