{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Service</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                    <a href="/serviceadd/">
                        <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                    </a>
                    <thead>
                        <tr style="color:black ;">
                            <th>Service Id</th>
                            <th>Service Name</th>
                            <th>Descripition</th>
                            <th>Service Charge</th>
                            <th> Category</th>
                            <th>Image</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Service %}
                        <tr>
                            <td>{{ i.service_id}}</td>
                            <td>{{i.service_name}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.service_charge}}</td>
                            <td>{{i.s_category.category_name}}</td>
                            {% if i.image %}
                            <td><img src="{{i.image}}" height="140" width="140"></td>
                            {% else %}
                            <td>No Image Found</td>
                            {% endif %}
                            <td><a href="/servicedelete/{{ i.service_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white"
                                        onclick="return confirm('Do you want to delete?');">Delete</button></a>
                                <a href="/serviceedit/{{ i.service_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Edit</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE</title>
</head>
<body>
<h1><center>SERVICE</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>SERVICE ID</th>
            <th>SERVICE NAME</th>
            <th>DESCRIPTION</th>
            <th>SERVICE CHARGE</th>
            <th>SERVICE SUB CATEGORY</th>
            <th>OPTION</th>
        </tr>
    </thead>
    <tbody>
    {% for i in Service %}
        <tr>
            <td>{{ i.service_id}}</td>
            <td>{{i.service_name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.service_charge}}</td>
            <td>{{i.s_sub_id}}</td>
            <td><a href="/servicedelete/{{i.service_id}}/">Delete</a>||<a href="/serviceedit/{{ i.service_id}}/">Edit</a><td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>