{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Service </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/serviceupdate/{{service.service_id}}/" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="sname">Service Name</label>
            <input type="text" class="form-control" id="sname" placeholder="Enter Service" name="txtsname" required 
            value="{{service.service_name}}">
          </div>
          <div class="form-group">
            <label for="dname">Description</label>
            <input type="text" class="form-control" id="dname" placeholder="Enter Description" name="txtdescri"
              value="{{service.description}}" required>
          </div>
          <div class="form-group">
            <label for="dname">Description</Service>
              <input type="text" class="form-control" id="dname" placeholder="Enter Description" name="txtdescri"
                value="{{service.description}}" required>
          </div>
          <div class="form-group">
            <label for="sname">Service Charge Name</label>
            <input type="number" class="form-control" id="pname" placeholder="Enter Service Charge" name="txtscharge" 
             value="{{service.service_charge}}" required>
          </div>
          <div class="form-group">
            <label for="product">Category Name</label>
            <select class="form-control form-control-lg" id="product" name="s_category_id">
              {% for i in scategory %}
              <option value="{{i.s_category_id}}">{{i.category_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            {% if service.image %}
            <td><img src="{{service.image}}" alt="image hero" height="140" width="140"></td>
            {% endif %}
            <label for="img_url">Add image</label>
            <div class="custom-file">
              <input type="file" class="form-control" id="img_url" name="image">
            </div>
          </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
          <button class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE EDIT</title>
</head>
<body>
<h1><center>SERVICE EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/serviceupdate/{{service.service_id}}/">
     {% csrf_token %}
    Service name:<input type="text" name="txtsname" value="{{service.service_name }}" required><br>
    Description:<input type="text" name="txtdescri" value="{{service.description}}" required><br>
    service_charge:<input type="number" name="txtscharge" value="{{service.service_charge}}" required><br>
    Service sub category:<select name="s_sub_id">
    {% for i in sscategory %}
    <option value="{{i.s_sub_id}}">{{i.s_sub_name}}</option><br>
    {% endfor %}
    </select>
    <br><input type="submit" value="Update">
</form>
</body>
</html>