{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Size </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/sizeupdate/{{size.size_id}}/">
          {% csrf_token %}

          <div class="form-group">
            <label for="sname">Size</label>
            <input type="text" class="form-control" id="sname" placeholder="Enter Size" name="txtsize"
              value="{{size.size}}" required>
          </div>
          <div class="form-group">
            <label for="product">Unit</label>
            <select class="form-control form-control-lg" id="product" name="unit_id">
                {% for i in unit %}
                <option value="{{i.unit_id}}">{{i.unit_name}}</option>
                {% endfor %}
            </select>
            </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
          <button class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIZE EDIT</title>
</head>
<body>
<h1><center>SIZE EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/sizeupdate/{{size.size_id}}/">
    {% csrf_token %}
    Size:<input type="number" name="txtsize" value="{{size.size}}" required><br>
    Unit name:<select name="unit_id">
    {% for i in unit %}
    <option value="{{i.unit_id}}">{{i.unit_name}}</option><br>
    {% endfor %}
    </select>
    <input type="submit" value="Update">
</form>
</body>
</html>