{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Stock</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                    <a href="/stockadd/">
                        <button type="button" class="btn bg-gradient-primary text-white">Add</button>
                    </a>
                    <thead>
                        <tr style="color:black ;">
                            <th>Stock Id</th>
                            <th>Product Id</th>
                            <th>Quantity</th>
                            <th>Total Days</th>
                            <th>Total Type</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Stock %}
                        <tr style="color:black ;">
                            <td>{{i.stock_id}}</td>
                            <td>{{i.product_id}}</td>
                            <td>{{i.qty}}</td>
                            <td>{{i.total_date}}</td>
                            <td>{{i.total_type}}</td>
                            <td><a href="/stockdelete/{{i.stock_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white" onclick="return confirm('Do you want to delete?');">Delete</button></a>
                                <a href="/stockedit/{{i.stock_id}}/"><button type="button"
                                        class="btn bg-gradient-primary text-white">Edit</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOCK</title>
</head>
<body>
<h1><center>STOCK</center></h1>
<a href="/home/">BACK</a><br>
<center>
<table border="1">
    <thead>
        <tr>
            <th>STOCK ID</th>
            <th>PRODUCT ID</th>
            <th>QUANTITY</th>
            <th>TOTAL DAYS</th>
            <th>TOTAL TYPE</th>
        </tr>
    </thead>
    <tbody>
    {% for i in Stock %}
        <tr>
            <td>{{i.stock_id}}</td>
            <td>{{i.product_id}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.total_date}}</td>
            <td>{{i.total_type}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</center>
</body>
</html>