{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Supplier </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/supplierupdate/{{supplier.supplier_id}}/">
          {% csrf_token %}
          <div class="form-group">
            <label for="sname">Supplier Name</label>
            <input type="text" class="form-control" id="sname" placeholder="Enter Supplier Nmae" name="txtsname "
              required>
          </div>
          <div class="form-group">
            <label for="cname">Company Name</label>
            <input type="text" class="form-control" id="cname" placeholder="Enter Company Name" name="txtcname "
              required>
          </div>
          <div class="form-group">
            <label for="aname">Address</label>
            <input type="text" class="form-control" id="aname" placeholder="Enter Address" name="txtadd" required>
          </div>
          <div class="form-group">
            <label for="cname">Contect Number</label>
            <input type="number" class="form-control" id="cname" placeholder="Enter Contect Number" name="txtcont"
              required>
          </div>
          <div class="form-group">
            <label for="ename">Email</label>
            <input type="text" class="form-control" id="ename" placeholder="Enter Email" name="txtemail" required>
          </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
          <button class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUPPLIER EDIT</title>
</head>
<body>
<h1><center>SUPPLIER EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/supplierupdate/{{supplier.supplier_id}}/">
    {% csrf_token %}
    Supplier name:<input type="text" name="txtsname" value="{{supplier.supplier_name}}"><br>
    Company name:<input type="text" name="txtcname" value="{{supplier.company_name}}"><br>
    Address:<input type="text" name="txtadd" value="{{supplier.address}}"><br>
    Contact Number:<input type="number" name="txtcont" value="{{supplier.contact_no}}" required maxlength="10"><br>
    Email id:<input type="email" name="txtemail" value="{{supplier.email_id}}"><br>
            <input type="submit" value="Update">
</form>
</body>
</html>