{%extends "m1.html"%}
{% block data %}

<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="modal-title font-weight-bold text-center text-white bg-gradient-primary">Work </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form class="table-responsive" method="post" action="/workadd/">
          {% csrf_token %}
          <div class="form-group">
            <label for="wname">Work Name</label>
            <input type="text" class="form-control" id="wname" placeholder="Enter Work Name" name="txtwname" required>
          </div>
          <button type="submit" class="btn bg-gradient-primary text-white">Update</button>
          <button class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORK EDIT</title>
</head>
<body>
<h1><center>WORK EDIT</center></h1>
<a href="/home/">BACK</a><br>
<form method="POST" action="/workupdate/{{work.work_id}}/">
    {% csrf_token %}
    Work name:<input type="text" name="txtwname" value="{{work.work_name}}" required><br>
            <input type="submit" value="Edit">
</form>
</body>
</html>