<!DOCTYPE html>
<html style="background-color:gray;">

<head>
	<title>Paint Estimation Calculator</title>
</head>

<body>
	<h1>Welcome to the Paint Estimation Calculator!</h1>
	<form method="post">
		<fieldset>
			<legend>Total Area Dimensions:</legend>
			<table border="1">
				<tr>
					<td><label for="length">Length (sq. ft.):</label></td>
					<td><input type="number" id="length" name="length"></td>
				</tr>
				<tr>
					<td><label for="width">Width (sq. ft.):</label></td>
					<td><input type="number" id="width" name="width"><br></td>
				</tr>
				<tr>
					<td><label for="height">Height (sq. ft.):</label></td>
					<td> <input type="number" id="height" name="height"></td>
				</tr>
			</table>
		</fieldset>
		<button type="button" onClick="calculate()">Calculate</button>


		<p>The Total Area Surface is: <span id="result"></span>sq. ft.</p>
	</form>
</body>
<script>
	function calculate() {
		// Get the values from the form
		const length = parseFloat(document.getElementById('length').value);
		const width = parseFloat(document.getElementById('width').value);
		const height = parseFloat(document.getElementById('height').value);
		// Calculate the paint needed
		const requiredArea = 2 * height * (length + width);

		// Display the result on the page
		document.getElementById('result').innerHTML = requiredArea.toFixed(2);
	}
</script>

</html>
<html style="background-color:darkkhaki;">

<head></head>

<body>
	<form method="post">
		<fieldset>
			<legend>Windows Dimensions:</legend>
			<table border="1">
				<tr>
					<td>
						<label for="no1">No of Windows:</label>
					</td>
					<td><input type="number" id="no1" name="no1" value="1"></td>
				</tr>
				<tr>
					<td><label for="width1">Width (sq. ft.):</label></td>
					<td><input type="number" id="width1" name="width1"></td>
				</tr>
				<tr>
					<td><label for="length1">Length (sq. ft.):</label></td>
					<td><input type="number" id="length1" name="length1"></td>
				</tr>
			</table>
		</fieldset>
		<button type="button" onClick="calculate1()">Calculate</button>
	</form>
	<p>The Total Windows Surface is: <span id="data1"></span>sq. ft.</p>
</body>
<script>
	function calculate1() {
		// Get the values from the form
		const length1 = parseFloat(document.getElementById('length1').value);
		const width1 = parseFloat(document.getElementById('width1').value);
		const no1 = parseFloat(document.getElementById('no1').value);
		// Calculate the paint needed
		const requiredArea1 = (no1 * length1 * width1);

		// Display the result on the page
		document.getElementById('data1').innerHTML = requiredArea1.toFixed(2);
	}
</script>

</html>

<html style="background-color:darkkhaki;">

<head></head>

<body>
	<form method="post">
		<fieldset>
			<legend>Door Dimensions:</legend>
			<table border="1">
				<tr>
					<td>
						<label for="no2">No of Doors:</label>
					</td>
					<td><input type="number" id="no2" name="no2" value="1"></td>
				</tr>
				<tr>
					<td><label for="width2">Width (sq. ft.):</label></td>
					<td><input type="number" id="width2" name="width2"></td>
				</tr>
				<tr>
					<td><label for="length2">Length (sq. ft.):</label></td>
					<td><input type="number" id="length2" name="length2"></td>
				</tr>
			</table>
		</fieldset>
		<button type="button" onClick="calculate2()">Calculate</button>
	</form>
	<p>The Total Doors Surface is: <span id="show2"></span>sq. ft.</p>
</body>
<script>
	function calculate2() {
		// Get the values from the form
		const length2 = parseFloat(document.getElementById('length2').value);
		const width2 = parseFloat(document.getElementById('width2').value);
		const no2 = parseFloat(document.getElementById('no2').value);
		// Calculate the paint needed
		const requiredArea2 = (no2 * length2 * width2);

		// Display the result on the page
		document.getElementById('show2').innerHTML = requiredArea2.toFixed(2);
	}
</script>

</html>

<html style="background-color:darkkhaki;">

<head></head>

<body>
	<form method="post">
		<fieldset>
			<legend>Total Painting Area :</legend>
			<table border="1">
				<tr>
					<td>
						<label for="t2">Total Area Surface::</label>
					</td>
					<td><input type="number" id="t2" name="t2"></td>
				</tr>
				<tr>
					<td><label for="t3">Total Windows Surface:</label></td>
					<td><input type="number" id="t3" name="t3"></td>
				</tr>
				<tr>
					<td><label for="t4">Total Windows Surface:</label></td>
					<td><input type="number" id="t4" name="t5"></td>
				</tr>
			</table>
		</fieldset>
		<button type="button" onClick="total()">Calculate</button>
	</form>
	<p>The Total Painting Area is: <span id="t123"></span>sq. ft.</p>
</body>
<script>
	function total() {
		// Get the values from the form
		const t2 = parseFloat(document.getElementById('t2').value);
		const t3 = parseFloat(document.getElementById('t3').value);
		const t4 = parseFloat(document.getElementById('t4').value);
		// Calculate the paint needed
		const requiredArea2 = (t2 - t3 - t4);

		// Display the result on the page
		document.getElementById('t123').innerHTML = requiredArea2.toFixed(2);
	}
</script>

</html>